<ion-header>
  
    <ion-navbar color="secondary">
      <ion-title>
        Update List
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <ion-buttons end>
          <button ion-button icon-only (click)="openContactList()" color="secondary">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-buttons>
    <form class="new-user-form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-item>
        <ion-label floating color="primary">Title</ion-label>
        <ion-input type="text" formControlName="title" class="form-control" required></ion-input>
      </ion-item>
      <button class="form-action-button" ion-button block type="submit" [disabled]="!validations_form.valid" (click)="onSubmit()">Save</button>
    </form>
    <button class="form-action-button" ion-button block color="danger" (click)="delete()">Delete</button>
  
  </ion-content>
  