<ion-tabs>
    <ion-tab [root]="contactsRoot" tabTitle="Contacts" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="campaignsRoot" tabTitle="Campaigns" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="listsRoot" tabTitle="Lists" tabIcon="information-circle"></ion-tab>
</ion-tabs>
