<ion-header>

  <ion-navbar color="secondary">
    <ion-title><h1>Contacts</h1></ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
    <ion-buttons end>
        <button ion-button icon-only (click)="openNewUserModal()" color="secondary">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>

      <div class="list-contact">
          <ion-list>
            <ion-item *ngFor="let item of contacts" (click)="viewDetails(item.payload.doc.id,item.payload.doc.data())">
              <ion-thumbnail item-start>
                <img [src]="item.payload.doc.data().image">
              </ion-thumbnail>
              <h2>{{item.payload.doc.data().firstname}}</h2>
              <h2>{{item.payload.doc.data().lastname}}</h2>
              <h2>{{item.payload.doc.data().email}}</h2>
              <button ion-button clear item-end color="secondary">Details</button>
            </ion-item>
          </ion-list>
        </div>
  <div>
  </div>
</ion-content>
