<ion-header>
    <ion-navbar color="secondary">
      <ion-buttons start>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Lists Page
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-buttons end>
      <button ion-button icon-only (click)="openNewUserModal()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>  
    <div class="list-names">
      
      <ion-list *ngFor="let item of lists" >
        <ion-item (click)="viewDetails(item.payload.doc.id,item.payload.doc.data())">
          <ion-thumbnail item-start>
            <h2>{{item.payload.doc.data().listname}}</h2>
          </ion-thumbnail>
          <button ion-button clear item-end color="secondary">Details</button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  
