<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Lists-Campaign
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-buttons end>
    <button ion-button icon-only (click)="openNewUserModal()" color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-buttons>  
  <div class="list-names">
    <ion-list *ngFor="let item of lists" (click)="viewDetails(item.payload.doc.id,item.payload.doc.data())">
      <ion-item>
        <ion-thumbnail item-start>
          <h2>{{item.payload.doc.data().listname}}</h2>
        </ion-thumbnail>
        <button ion-button clear item-end color="primary">Details</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

