
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Campaign List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
<ion-label floating>Campaign Name</ion-label>
<ion-input [(ngModel)]="campaign.campaignname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label floating>Description</ion-label>
    <ion-input [(ngModel)]="campaign.description"></ion-input>
      </ion-item>
      <button ion-button clear block (click)="addCampaign()">Create Campaigns</button>
</ion-content>
