<ion-header>
    <ion-navbar color="secondary">
      <ion-buttons start>
        <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        New List
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div>
  
    </div>
    <form class="new-user-form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
      <ion-item>
        <ion-label floating color="primary">List Name</ion-label>
        <ion-input type="text" formControlName="listname" class="form-control" required></ion-input>
      </ion-item>
      <button class="form-action-button" ion-button block type="submit" [disabled]="!validations_form.valid">Create</button>
      </form>
  </ion-content>
  