page-contacts {
    h1{
        text-align: center;
        padding: 25px 0px;
        margin-top: 0px;
        color: white;
    }
    button {
        height: 34px;
        width: 50px;
        padding: 10px;
        color: white;
        float: right;
        margin-top: 45px;
    }
    ul{
        list-style: none;
        font-size: 15px;
        color: #686868;
        margin-left: 5px;
        margin-bottom: 0px;
    }
    li {
        border-bottom: 0px solid #bfbfbf;
        padding: 5px 0px;
        margin-bottom: 3px;
        margin-right: 80px;
    }
}
