<ion-header>

  <ion-navbar color="secondary">
      <ion-buttons start>
          <button ion-button icon-only (click)="dismiss()">
            <ion-icon name="md-arrow-back"></ion-icon>
          </button>
          </ion-buttons>
    <ion-title><h1>Contacts</h1></ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
      <div class="list-contact">
          <ion-list *ngFor="let item of contacts ; let i = index">
            <ion-item>
                <ion-checkbox color="dark"  [(ngModel)]="isSelected[i]" > </ion-checkbox>
              <ion-thumbnail item-start>
              <h2>{{item.payload.doc.data().firstname}}</h2>
              <h2>{{item.payload.doc.data().lastname}}</h2>
              <h2>{{item.payload.doc.data().email}}</h2>
            </ion-thumbnail>
        </ion-item>
          </ion-list>
          <ion-buttons start>
              <button ion-button icon-only color="secondary" (click)="submit()" >
                Submit
              </button>
            </ion-buttons>
        </div>
  <div>
  </div>
</ion-content>