<ion-header>

  <ion-navbar>
    <ion-title><h1>Campaigns</h1></ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-buttons end>
      <button ion-button icon-only (click)="openNewUserModal()" color="secondary">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>

    <div class="list-campaign">
        <ion-list>
          <ion-item *ngFor="let item of campaigns" (click)="viewDetails(item.payload.doc.id,item.payload.doc.data())">
            <ion-thumbnail item-start>
              <img [src]="item.payload.doc.data().image">
            </ion-thumbnail>
            <h2>{{item.payload.doc.data().campaignname}}</h2>


            <h2>{{item.payload.doc.data().description}}</h2>
            <button ion-button clear item-end color="secondary"> <ion-icon name="add"></ion-icon></button>
          </ion-item>
        </ion-list>
      </div>

<div>
  
</div>
</ion-content>
